<table class="table table-bordered table-dark">
    <!--<thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Duración</th>
            <th>Año</th>
            <th>Calidad</th>
            <th>Puntuación</th>
        </tr>
    </thead>-->
    <tbody>
        <tr *ngFor="let movie of movies" [ngClass]="{'actuales': movie.anio < 1999}">
            <th><img [src]="movie.imagen" [alt]="movie.nombre"></th>
            <td>
                <ul>
                    <li>
                        <p>Nombre: {{movie.nombre}}</p>
                    </li>
                    <li>
                        <p>Genero: {{movie.genero}}</p>
                    </li>
                    <li>
                        <p>Duración: {{movie.duracion}}</p>
                    </li>
                    <li>
                        <p>Año: <span class="badge badge-warning">{{movie.anio}}</span></p>
                    </li>
                    <li>
                        <p>Calidad: <span class="badge badge-warning">{{movie.definicion}}</span></p>
                    </li>
                    <li>
                        <app-input-integer [movie]="movie" [(puntuacion)]="movie.puntuacion" [min]="movie.minimoPuntuacion" [max]="movie.limitePuntuacion" (maxReached)="maxReached($event)" *ngIf="movie.definicion=='HD'||movie.definicion=='4K'"></app-input-integer>
                    </li>
                    <li> <button class="btn btn-primary" (click)="addToCart(movie)">Agregar a favoritas</button></li>
                </ul>
            </td>
            <!--<td>{{movie.nombre | uppercase}}</td>
            <td>{{movie.genero}}</td>
            <td>{{movie.duracion}}</td>
            <td><span class="badge badge-warning">{{movie.anio}}</span></td>
            <td><span class="badge badge-warning">{{movie.definicion}}</span></td>
            <td>
                <app-input-integer [(puntuacion)]="movie.puntuacion" [min]="movie.minimoPuntuacion" [max]="movie.limitePuntuacion" (maxReached)="maxReached($event)" *ngIf="movie.definicion=='HD'||movie.definicion=='4K'"></app-input-integer>
                <span *ngIf="movie.definicion=='HD'||movie.definicion=='4K'">Calificacion:{{movie.puntuacion}}</span>
                <button class="btn btn-primary" (click)="addToCart(movie)">Agregar a favoritas</button>
            </td>-->
        </tr>
    </tbody>
</table>